<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <table>
                <tr>
                    <th>category</th>
                    
                    
                </tr>
                {% for u in catlist %}
                <tr>
                    <td>{{u.CName}}</td>
                   
                    
                    <td colspan="2"><a href="deletecategory/{{u.CName}}">Delete</a></td>
                    <td colspan="2"><a href="editcategory/{{u.CName}}">Edit</a></td>
                    
                </tr>
                {% endfor %}
            </table>
</body>
</html>