<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <table>
                <tr>
                
                    <th>name</th>
                   
                    <th>contact</th>
                    <th>Email</th>
                    <th>password</th>
                    <th>Delete</th>
                    <th>edit</th>
                    
                </tr>
                {% for u in ulist %}
                <tr>
                    
                    <td>{{u.Name}}</td>
                    <td>{{u.Contact}}</td>
                    <td>{{u.Email}}</td>
                    <td>{{u.Password}}</td>
                    
                    <td colspan="2"><a href="deleteuser?Email={{u.Email}}">Delete</a></td>
                    <td colspan="2"><a href="edituser?Email={{u.Email}}">Edit</a></td>
                    
                </tr>
                {% endfor %}
            </table>
</body>
</html>